
<table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" data-types="background,padding" data-last-type="padding">
    <tbody>
        <tr>
            <td align="left" class="element-content" style="padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;background-color:#FFFFFF;">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td contenteditable="true" align="center" class=" active" style="padding: 20px;">
                                Drag elements from left menu&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
