<div class="sortable-row-container"> <div class="sortable-row-actions"><div class="row-move row-action"><i class="fa fa-arrows-alt"></i></div><div class="row-remove row-action"><i class="fa fa-remove"></i></div><div class="row-duplicate row-action"><i class="fa fa-files-o"></i></div><div class="row-code row-action"><i class="fa fa-code"></i></div></div><div class="sortable-row-content"  data-id="3" data-types="background,border-radius,padding"  data-last-type="background">
<table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" data-types="background,padding" data-last-type="padding">
    <tbody>
        <tr>
            <td align="left" class="element-content" style="padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;background-color:#FFFFFF;">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td>
                                <h1 contenteditable="true" style="font-weight: normal;text-align:center" class="">Welcome to Page Builder</h1>
                            </td>
                        </tr>
                        <tr>
                            <td contenteditable="true" align="center" class=" active" style="padding: 20px;">
                                Drag elements from left menu&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>   
</table></div></div>

